<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.hidden_field :following %>
  </div>

  <div>
    <%= form.hidden_field :followers %>
  </div>

  <div>
    <%= form.hidden_field :stars %>
  </div>

  <div>
    <%= form.hidden_field :repos %>
  </div>

  <div>
    <%= form.hidden_field :address %>
  </div>

  <div>
    <%= form.hidden_field :company %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
