<div id="<%= dom_id profile %>">
  <strong>Name:</strong>
  <%= profile.name %>
  <strong>Following:</strong>
  <%= profile.following %>
  <strong>Followers:</strong>
  <%= profile.followers %>
  <strong>Stars:</strong>
  <%= profile.stars %>
  <strong>Repos:</strong>
  <%= profile.repos %>
  <strong>Address:</strong>
  <%= profile.address %>
  <strong>Company:</strong>
  <%= profile.company %>
</div>
