<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Following:</strong>
    <%= profile.following %>
  </p>

  <p>
    <strong>Followers:</strong>
    <%= profile.followers %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= profile.stars %>
  </p>

  <p>
    <strong>Repos:</strong>
    <%= profile.repos %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= profile.company %>
  </p>

</div>
